<h3>Drag And Drop Uploader</h3>
<p>
	<label for="plugin_draganddropuploader">Collection:</label>
	{{collections}}
	<label for="plugin_position">InsertPosition:</label>
	<select id="plugin_position"><option value="body" selected="selected">body</option><option value="more">more</option></select>
	<label for="plugin_addtag">TagType:</label>
	<select id="plugin_addtag"><option value="">-</option><option value="image">image</option><option value="popup" selected="selected">popup</option><option value="media">media</option></select>
	<label for="plugin_timestamp">TimeStamp:</label>
	<select id="plugin_timestamp"><option value="">-</option></select>
	<br />
	<div id="uploader">
		<p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
	</div>
	<a id="uploader_reset" href="#">Reset Uploader</a>
</p>
